*{
  padding: 0;
  margin: 0;
  background-color: #242424;
}
.cardapio-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardapio-container .menu-item{
  width: 40%;
  height: 20vh;
}

@media (max-width: 850px) {
  .cardapio-container .menu-item{
    width: 40%;
    height: 30vh;
  }
}

@media (max-width: 600px) {
  .cardapio-container {
    flex-direction: column;
  }
  .cardapio-container .menu-item{
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: row;
  }
  .cardapio-container .menu-item .item-image{
    width: 50%;
  }
}
@media (max-width: 600px) {
  .cardapio-container .menu-item{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
  }
  .cardapio-container .menu-item .item-image{
    width: 50%;
  }
}